.hero__homepage {
    background: url("../../../public/img/sea-3652697_1920.webp");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__homepage__title {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: var(--blanc--fond);
    align-self: center;
    padding-top: 325px;
}

.hero__chevrons {
    width: 188px;
    height: 133px;
    padding-top: 200px;
}

.hero__article {
    background-color:var(--bleu-1er-article);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__article__title {
    font-family: var(--font-serif);
    color: var(--blanc--fond);
    font-size: var(--h1);
    font-weight: 400;
    padding-top: 130px;
    margin-right: 70px;
    margin-bottom: 0;
}

.hero__article__undertitle {
    font-family: var(--font-serif);
    color: var(--blanc--fond);
    font-size: var(--sous--h1);
    font-weight: 400;
    margin-left: 130px;
    margin-bottom: 0;
    margin-top: 0;
}

.hero__article__logo {
    width: 230px;
    height: 230px;
    padding-left: 100px;
}

.hero__article__chevrons {
    width: 188px;
    height: 133px;
    margin-top: 100px;
}